{# templates/blog/postDetail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

<section class="content">
    <br><br>
    <div class="container">
        <div class="columns">
            <div class="column" style="text-align: center;">
                <h1 class="title">Which blog would you like to visit ?</h1>

                <div style="overflow: auto;">
                    {% for user in users %}
                    <a
                      class="grey-hover button is-rounded is-info is-outlined is-family-code "
                      style="margin: 0em auto 1em;width:50%; "
                      href="{{ path('index', {'username': user.username}) }}">
                        {{user.username}}
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="column" >
                {{ render(controller('App\\Controller\\PostController::loginAction')) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}
