<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet/less" type="text/css" href="{{ asset('less/styles.less') }}" />
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>
        <header>
            {% include 'header.html.twig' %}
        </header>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <footer class="footer">
            {% include 'footer.html.twig' %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
