{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Blog {% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Welcome on our wonderful blog</h1>

      <p class="subtitle">
        Our blog uses <strong>Bulma</strong>!
      </p>
    </div>
  </section>
{% endblock %}
