{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Welcome! {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        {% block body %}{% endblock %}
        <footer>
        {% block footer %}
          <div class="content has-text-centered">
            <p>
              <strong>Symfony blog</strong> by
              <a href="https://github.com/cmamon">Christophe QUENETTE</a> and
              <a href="https://github.com/stremor-03">Sullyvan TREMOR</a>.
            </p>
          </div>
        {% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
