{# templates/footer.html.twig #}
<div class="content has-text-centered">
    <p>
        <strong>Symfony blog</strong> by
        <a href="https://github.com/cmamon">Christophe QUENETTE</a> and
        <a href="https://github.com/stremor-03">Sullyvan TREMOR</a>.
    </p>
</div>
