{% extends 'base.html.twig' %}

{% block title %}Post list{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Post list</h1>

      {% for post in posts %}
      <article class="message">
        <div class="message-header">
          <p>{{ post.name }}</p>
        </div>
        <div class="message-body">
          <em>{{ post.publicationDate.format('H:i \o\n l jS F Y') }} </em><br>
          {{ post.content }}
        <br><br>
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-dark" href="{{ path('post_show', {'id': post.id}) }}">
              View article >>
            </a>
          </p>
        </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
