{# templates/blog/postDetail.html.twig #}

{% extends 'base.html.twig' %}


{% block title %}Blog{% endblock %}

{% block body %}<h1>Post {{ id }}</h1>
<ul>
    <li><h3>Name : {{post_name}}</h3></li>
    <li><h3>Publication date : {{post_pub_date}}</h3> </li>
    <li><h3>Content : {{post_content}}</h3></li>
</ul>
{% endblock %}
