@lastness-body-bg-color: #effaf3;    // lastness
@lastness-header-bg-color: #48c774;    // lastness
@white : #fff;    // old one
@queue-bg-color: #000;

.message.is_lastness{
  background-color:@lastness-body-bg-color;
}

.message-header.is_lastness,.button.is-dark.is_lastness{
  background-color:@lastness-header-bg-color;
  color:@white;
}
